doctype html
html
    head
        title Pre- Post- hwk
        link(rel='stylesheet', href='style.css')
        script(src="bower_components/underscore/underscore.js")
    body
        .logo
            img(src='img/logo.png', alt='Google')
        .cont-search
            p Search the web using Google!
            .cont-input
                input.input(type='text')
            .search-menu
                select.results
                    option(value='iphone') 10 results
                    option(value='ipad') 5 results
                    option(value='iwatch') 1 results
                button.btn-google-search(type='button') Google Search
                button.btn-feel-lucky(type='button') I'm feeling lucky
            .google-info
                p Index contains ~ 25 million pages (soon to be much bigger)
        .cont-about
            .first-row
                a(href='#') About Google!
            .second-row
                a(href='#') Stanford Search
                a(href='#') Linux Search
        .cont-get-google
            p Get Google! updates monthly!
            form.bottom-form
                input#email(type='email', placeholder='your e-mail')
                button.btn-subscribe(type='button') Subscribe
                a(href='#') Archive
        .copyright Copyright ©1997-8 Stanford University


